body {
    background-image: url("Tokyo.png");
    background-size: 100% ;
}

h {
    position: absolute;
    left: 38%;
    font-family: "Times New Roman";
    font-size: 2em;

    background-color: black;
    color: white;

}

#name{
     position: absolute;
     min-width: 80%;
     height: 7%;
     background-color: darkred;
     text-align: center;
     font-size: 1.5em;
     font-color: black;
     top: 10%;
     left: 8%;
}

#message{

    position: absolute;
    min-width: 80%;
    height: 7%;
    background-color: darkred;
    text-align: center;
    font-size: 1.5em;
    font-color: black;
    top: 20%;
    left: 8%;

}

#send{
    position: absolute;
    min-width: 7%;
    height: 7%;
    background-color: black;
    text-align: center;
    font-size: 1.5em;
    color: white;
    top: 30%;
    left: 85%;
}

#list{
    position: absolute;
    text-align: left;
    font-size: 1.5em;
    color: white;
    top: 30%;
    left: 8%;
    background-color: black;
}
